API_KEY=YOUR_OLLAMA_API_KEY
API_URL=https://ollama.com/v1
MODEL_NAME="gemma4:31b-cloud"

PROJECT_TITLE=Project

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=YOUR_LANGSMITH_API_KEY
LANGSMITH_PROJECT=PROJECT_NAME